[role = "presentation"] {
    width: 500px; 
    height: 432px;
    background: pink;
    
    margin-top: 64px;
    margin-bottom: 64px; 
    margin-left: auto;
    margin-right: auto;
    /* margin: 64px auto; Another option to cut the lines down*/

    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    /* padding: 32px; another option to cut the lines down */

    border-top: 64px solid red;
    border-right: 64px solid yellow;
    border-bottom: 64px solid green;
    border-left: 64px solid blue;
}

body {
    background-image: url(../lets-learn-css/img/ruin-540835_960_720.jpg);
    /* Uploads background picture */
    background-size: cover; /* Cover the whole element */
    background-repeat: no-repeat;
    /* Wont loop or repeat */
    background-position: center; /* Can also be co ordinates like 50px 75px */
    background-attachment: fixed;
}