*{ /* Code reads bottom to top. This makes all the margins 
    and padding for ALL browser defaults 0 and 0. Critical 
    for funcationality with all browser default types */
    /* Basic browser reset. */
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

@font-face { /* Downloads the font for the user, can be used now
    and everyone can see it viewing the page. Second src line is for all browsers compatability*/
    font-family: 'JetBrains Mono';
    src: url(../lets-learn-css/font/jetbrains-mono/JetBrainsMono-Regular.ttf);
    src: url('../lets-learn-css/font/jetbrains-mono/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;   
}

@font-face { 
    font-family: 'JetBrains Mono';
    src: url(../lets-learn-css/font/jetbrains-mono/JetBrainsMono-Bold.ttf);
    src: url('../lets-learn-css/font/jetbrains-mono/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;   
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(../lets-learn-css/font/jetbrains-mono/JetBrainsMono-Italic.ttf);
    src: url('../lets-learn-css/font/jetbrains-mono/JetBrainsMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;   
}

code {
    white-space: pre;
    font-family: 'JetBrains Mono' Consolas, monospace;
}

body {
    background-image: url(../lets-learn-css/img/background-3909536_960_720.jpg);
    /* Uploads background picture */
    background-size: cover; /* Cover the whole element */
    background-repeat: no-repeat;
    /* Wont loop or repeat */
    background-position: center; /* Can also be co ordinates like 50px 75px */
    background-attachment: fixed;
}

article{
    width: 600px;
    margin-left: auto; /*Margin left and right as auto will center
    a BLOCK level element*/
    margin-right: auto;
    padding: 16px; /* Spacing from top */
}
/* Accessibility; needed for hiding words */
.screen-reader-text {
    border: 0;
    clip: ClientRect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }

h1, h2 {
    font-family: 'JetBrains Mono', Consolas, moonspace; 
    font-size: 46px;
    font-weight: bold;
    text-align: center; /* Centers your text */
    color: green;
    padding-top: 50px;
}

h2{
    font-family: 'Trade Winds', 'Comic Sans', cursive;
    margin-left: auto; 
    margin-right: auto;
    color: blue;
}

nav{
    width: auto;
    max-width: 500px;
    background-color: salmon;
    margin: 16px auto;      /* margin auto for the navi */
    position: relative;
    top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul {
    text-align: center; 
    padding: 0;
    display: inline; /*Horizontal navigation instead of vertical  */
}

nav ul li {
    display: inline-block;
}

nav ul li a { 
    text-decoration: none; /*Disables the underline */
    display: inline-block;
    padding: 16px 32px; /* 16 px is top and bottom ; 32 is left and right */
}

nav ul li a:hover, nav u li a:focus, nav u li a:active { /* Hover adds big box highlighting over it when your mouse goes there */
    /* Focus is when you press tab key this will show where you are. Hover for tab */
    background-color: rgb(50, 50, 50);
    color: #fff;
}
p{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(33, 33, 33); /* There are a few ways to do color... */
    background-color: #eeeeee; /* Background color of the paragraph */
}

#float-practice { /* For image added in paragraph */
    float: left; 
    margin-top: 0px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 0px;
    /*margin: 0 16px 16px 0; */
}

#z-index-practice{
    display: block;
    margin: auto;
    position: absolute;
    top: 300px; 
    right: 0px;
    left: 0px; /* This centres the photo b/c RL 0 px */
    z-index: -1; /* Visual layering! Think Photoshop... which element should appear :on-top"?! */
}

.hide-me { 
    list-style: none;
    height: 0;
}

.overflow-hidden { 
    overflow: hidden;
    height: 35px; 
}
.overflow-visible {
    overflow: visible; 
    height: 35px;
}

.overflow-scroll {
    overflow: scroll;
    height: 35px;
}

#background-bullets, /* Combining 2 ids */
#image-bullets{
    list-style: none; /* gets rid of bullet points */
    margin: 16px auto;
    padding: 16px 16px 16px 64px; /*right side has more padding */
}

#background-bullets li { /* This puts it to a whole list with li to specific bullets*/
    background-image: url(./img/phoenix-1995285_960_720.webp);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: top left;
    padding: 8px 8px 8px 64px;
}
/*li adds the background image to everything on the list */

#image-bullets li {
    position: relative; /*Makes it relative to your list not whole webpage */
    padding: 8px 8px 8px 64px;
}

#image-bullets li img{
    position: absolute; /*Makes the image absolute to the list. Relative and absolute are used together injunctiion */
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
}
#social-media-links {
    list-style: none;
    text-align: center; 
}

#social-media-links > li {
    /* Direct childer selector ">" the LI must be DIRECTLY inside the element wit hthe "social-media-links" id in this case. */
    display: inline-block;
    padding: 15px;
}

#social-media-links .fab {
    color: rgba( 50, 50, 50, 25); /* RGBA - the 'a' stands for ALPHA channel. */ 
    /* For alpha = 1 opaque; 0 = transparent; */
    font-size: 32px;
    /* Changes the icons to any color you want in this case gray */
}

#social-media-links a:hover .fab,
#social-meada-links a:focus .fab,
#social-media-links a:active .fab { /* Pseudo-selector with nesting. */ 
    color:rgba(50, 230, 240, 1);
    /* Will hover with that color not */
}

@media screen and (min-width: 500px){
    /* Always do min width becasue most people use there PHONES */
    /* IMPORTANT to do for every code in beginning */
        h1 {
            font-size: 50px;
        }
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 28px;
        }
        p{
            font-size: 15px;
        }
        
    }

.gradient-bg {
        height: 300px;
        opacity: 0.75;
        margin-top: 50px;
        /* Gradient generated at https://cssgradient.io */
        background: rgb(34,193,195);
        background: linear-gradient(254deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.23433874709976799) 49%);
        box-shadow: 32px 32px 0 0 rgba(0,0,0,1);
    }

.speech-bubble {
    background: rgba(255,255,255,0.95);
    border-radius: 1.5em;
    max-width: 300px; 
    padding: 1.5em;
    color: rgba(33,33,33,1);
    margin-top: 75px; 
    border-bottom-right-radius: 0; 
    /* Makes the bottom corner a sharper corner */
}

.speech-bubble::after {
    /* Double :: is pseudo element; creats fake element for styling purposes */
    content: '';
    display: block;
    width: 0;
    height: 0;
    box-sizing: content-box; 
    border-top: 0 solid transparent;
    border-right: 32px solid rgba(255, 255, 255, 0.95);
    border-bottom: 32px solid transparent; 
    border-left: 0 solid transparent; 
    position: absolute;
    top: 100%;
    right: 0;
}