*{ /* Code reads bottom to top. This makes all the margins 
    and padding for ALL browser defaults 0 and 0. Critical 
    for funcationality with all browser default types */
    /* Basic browser reset. */
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap')

@font-face { /* Downloads the font for the user, can be used now
    and everyone can see it viewing the page. Second src line is for all browsers compatability*/
    font-family: 'JetBrains Mono';
    src: url(../lets-learn-css/font/jetbrains-mono/JetBrainsMono-Regular.ttf);
    src: url('../lets-learn-css/font/jetbrains-mono/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;   
}

@font-face { 
    font-family: 'JetBrains Mono';
    src: url(../lets-learn-css/font/jetbrains-mono/JetBrainsMono-Bold.ttf);
    src: url('../lets-learn-css/font/jetbrains-mono/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;   
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(../lets-learn-css/font/jetbrains-mono/JetBrainsMono-Italic.ttf);
    src: url('../lets-learn-css/font/jetbrains-mono/JetBrainsMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;   
}

code {
    white-space: pre;
    font-family: 'JetBrains Mono' Consolas, monospace;
}

body {
    background-image: url(../lets-learn-css/img/background-3909536_960_720.jpg);
    /* Uploads background picture */
    background-size: cover; /* Cover the whole element */
    background-repeat: no-repeat;
    /* Wont loop or repeat */
    background-position: center; /* Can also be co ordinates like 50px 75px */
    background-attachment: fixed;
}

article{
    width: 600px;
    margin-left: auto; /*Margin left and right as auto will center
    a BLOCK level element*/
    margin-right: auto;
    padding: 16px; /* Spacing from top */
}
/* */
.screen-reader-text {
    border: 0;
    clip: ClientRect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }

h1, h2 {
    font-family: 'JetBrains Mono', Consolas, moonspace; 
    font-size: 46px;
    font-weight: bold;
    text-align: center; /* Centers your text */
    color: green;
    padding-top: 50px;
}

h2{
    font-family: 'Trade Winds', 'Comic Sans', cursive;
    margin-left: auto; 
    margin-right: auto;
    color: blue;
}

nav{
    width: auto;
    max-width: 500px;
    background-color: salmon;
    margin: 16px auto;      /* margin auto for the navi */
    position: relative;
    top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul {
    text-align: center; 
    padding: 0;
    display: inline; /*Horizontal navigation instead of vertical  */
}

nav ul li {
    display: inline-block;
}

nav ul li a { 
    text-decoration: none; /*Disables the underline */
    display: inline-block;
    padding: 16px 32px; /* 16 px is top and bottom ; 32 is left and right */
}

nav ul li a:hover, nav u li a:focus, nav u li a:active { /* Hover adds big box highlighting over it when your mouse goes there */
    /* Focus is when you press tab key this will show where you are. Hover for tab */
    background-color: rgb(50, 50, 50);
    color: #fff;
}
p{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(33, 33, 33); /* There are a few ways to do color... */
    background-color: #eeeeee; /* Background color of the paragraph */
}

#float-practice { /* For image added in paragraph */
    float: left; 
    margin-top: 0px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 0px;
    /*margin: 0 16px 16px 0; */
}

#z-index-practice{
    display: block;
    margin: auto;
    position: absolute;
    top: 300px; 
    right: 0px;
    left: 0px; /* This centres the photo b/c RL 0 px */
    z-index: -1; /* Visual layering! Think Photoshop... which element should appear :on-top"?! */
}

.hide-me { 
    list-style: none;
    height: 0;
}

.overflow-hidden { 
    overflow: hidden;
    height: 35px; 
}
.overflow-visible {
    overflow: visible; 
    height: 35px;
}

.overflow-scroll {
    overflow: scroll;
    height: 35px;
}

#background-bullets, /* Combining 2 ids */
#image-bullets{
    list-style: none; /* gets rid of bullet points */
    margin: 16px auto;
    padding: 16px 16px 16px 64px; /*right side has more padding */
}

#background-bullets li { /* This puts it to a whole list with li to specific bullets*/
    background-image: url(./img/phoenix-1995285_960_720.webp);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: top left;
    padding: 8px 8px 8px 64px;
}
/*li adds the background image to everything on the list */

#image-bullets li {
    position: relative; /*Makes it relative to your list not whole webpage */
    padding: 8px 8px 8px 64px;
}

#image-bullets li img{
    position: absolute; /*Makes the image absolute to the list. Relative and absolute are used together injunctiion */
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
}
